@page
@using Microsoft.AspNetCore.Mvc.Localization
@using EvArkadasim.Localization
@using EvArkadasim.Extensions
@inject IHtmlLocalizer<EvArkadasimResource> L
@model EvArkadasim.Web.Pages.Home.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


 <!--Home slider-->
            <div class="slideshow slideshow-wrapper pb-section">
                <div class="home-slideshow">
                    <div class="slide slideshow--medium">
                        <div class="blur-up lazyload">
                            <img class="blur-up lazyload" data-src="/web/images/slideshow-banners/home5-banner1.jpg" src="/web/images/slideshow-banners/home5-banner1.jpg" alt="The One" title="The One" />
                            <div class="slideshow__text-wrap slideshow__overlay classic middle">
                                <div class="slideshow__text-content classic left">
                                    <div class="container">
                                        <div class="wrap-caption left">
                                            <h2 class="h1 mega-title slideshow__title">The One</h2>
                                            <span class="mega-subtitle slideshow__subtitle">Complete your daring new look<br>with the one</span>
                                            <span class="btn">Shop now</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide slideshow--medium">
                        <div class="blur-up lazyload">
                            <img class="blur-up lazyload" data-src="/web/images/slideshow-banners/home5-banner2.jpg" src="/web/images/slideshow-banners/home5-banner2.jpg" alt="Editors Picks" title="Editors Picks" />
                            <div class="slideshow__text-wrap slideshow__overlay classic top">
                                <div class="slideshow__text-content classic top">
                                    <div class="container">
                                        <div class="wrap-caption center">
                                            <h2 class="h1 mega-title slideshow__title">Editors Picks</h2>
                                            <span class="mega-subtitle slideshow__subtitle">The Editors Essential Mascara Guide</span>
                                            <span class="btn">Shop now</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Home slider-->
@section scripts {
    <script>
        $(document).ready(function () {
            $('body').addClass('home5-cosmetic');

            //#region Filter
           
            //#endregion

            //abp.ajax({
            //    type: 'GET',
            //    url: '/api/identity/users'
            //}).then(function (result) {
            //    console.log(result);
            //}).catch(function () {
            //    alert("request failed :(");
            //});


            //abp.ajax({
            //    url: abp.appPath + 'Portal/Catalog/SwitchCustomer',
            //    data: JSON.stringify(info),
            //    success: function (data) {
            //        console.log('Data Returned: ' + data.personId);
            //    }
            //});
        });
    </script>
}