@using EvArkadasim.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<EvArkadasimResource> L
@model EvArkadasim.Web.Pages.Advert.AddModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    //Image >> https://codepen.io/arozqq/pen/zYoyEdQ
}

@section styles {
    <style>
        .img-thumbs {
            background: #eee;
            border: 1px solid #ccc;
            border-radius: 0.25rem;
            margin: 1.5rem 0;
            padding: 0.75rem;
        }

        .img-thumbs-hidden {
            display: none;
        }

        .wrapper-thumb {
            position: relative;
            display: inline-block;
            margin: 1rem 0;
            justify-content: space-around;
        }

        .img-preview-thumb {
            background: #fff;
            border: 1px solid none;
            border-radius: 0.25rem;
            box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
            margin-right: 1rem;
            max-width: 140px;
            padding: 0.25rem;
        }

        .remove-btn {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .7rem;
            top: -5px;
            right: 10px;
            width: 20px;
            height: 20px;
            background: white;
            border-radius: 10px;
            font-weight: bold;
            cursor: pointer;
        }

            .remove-btn:hover {
                box-shadow: 0px 0px 3px grey;
                transition: all .3s ease-in-out;
            }
    </style>
}
<div class="page section-header text-center">
    <div class="page-title">
        <div class="wrapper"><h1 class="page-width">@L["MyCompanyAccount"]</h1></div>
    </div>
</div>
<!--End Page Title-->

