@page
@using EvArkadasim.Localization
@using Microsoft.Extensions.Localization
@using System.Net;
@inject IStringLocalizer<EvArkadasimResource> L
@model EvArkadasim.Web.Pages.Error.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var navigationModel = new EvArkadasim.Web.Models.NavigationModel() { BasePageName = "Home", BasePageLink = "/Home", CurrentPageName = "SorryAnErrorHasOccurred" };
}

<!-- NAVIGATION START -->

<partial name="~/Pages/Admin/Shared/_Navigation.cshtml" model="navigationModel" />

<!-- NAVIGATION END -->

<section id="error" class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1>@Model.Error.StatusCode.ToString() <small>Hatası</small></h1>
            <p class="lead">@Model.Error.Message</p>
            <a href="/Home" class="btn btn-default"><i class="fa fa-arrow-left fa-fw"></i>@L["ReturnHomePage"]</a>
            <div class="space40"></div>
        </div>
        <div class="col-md-6 text-center wow bounceIn slow">
            <i class="fa fa-warning erroicon"></i>
            <div class="space40"></div>
        </div>
    </div>
</section>
