<div id="home-slider" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        <li data-target="#home-slider" data-slide-to="1"></li>
        <li data-target="#home-slider" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/web/images/slides/slide3.jpg');"></div>
            <div class="carousel-caption">
                <h1 class="text-uppercase">Edura Template</h1>
                <p class="lead text-uppercase">Fint the best solution</p>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/web/images/slides/slide10.jpg');"></div>
            <div class="carousel-caption">
                <h1 class="text-uppercase">Responsive Design</h1>
                <p class="lead text-uppercase">Looks great on any screen</p>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/web/images/slides/slide11.jpg');"></div>
            <div class="carousel-caption">
                <h1 class="text-uppercase">Multiple Layouts</h1>
                <p class="lead text-uppercase">Choose the best</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#home-slider" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#home-slider" data-slide="next">
        <span class="icon-next"></span>
    </a>

</div>